@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Implements */
.application-home {
  margin: 20% auto;
}

.application-home > h1 {
  padding-bottom: 3em;
}

.header-panel {
  margin: 4% 0;
}